.paragragh span{
    display: block;
    position: absolute;
    color: aquamarine;
    font-size: 1.5em;
    top: 0px;
    left: 50px;
    opacity: 0;
    animation: reveal .5s forwards var(--delay);
}
#text1{
    top: 30px;
    left: 50px;
}
#text2{
    top: 67px;
    left: 50px;
}
#text3{
    top: 100px;
    left: 50px;
}
#text4{
    top: 135px;
    left: 50px;
}
#text5{
    top: 205px;
    left: 50px;
}
#text6{
    top: 245px;
    left: 50px;
}
@keyframes reveal{
    from {translate: 0 20px;}
    to 
        { 
            translate: none;
            opacity: 1;
        }
}
@media all and (max-width: 500px){
        #text1{
            top: 20px;
            left: 20px;
            font-size: 15px;
        }
        #text2{
            top: 50px;
            left: 20px;
            font-size: 15px;
        }
        #text3{
            top: 75px;
            left: 20px;
            font-size: 15px;
        }
        #text4{
            top: 120px;
            left: 20px;
            font-size: 15px;
        }
        #text5{
            top: 225px;
            left: 20px;
            font-size: 15px;
        }
        #text6{
            top: 245px;
            left: 20px;
        }
    }
